/**********************************************************
           Styles for Eurekalert press releases
     					   
Chrome:    Applies to 'URLs starting with'
           http://www.eurekalert.org/pub_releases/

        
Safari:    URLs: http://www.eurekalert.org/pub_releases/*
        
        
Source:    github.com/ayellowraven/academic_user_styles
Version:   2013.05.2
***********************************************************/
body.release {
	margin: 16px;
	margin: 1rem;
	margin-left: auto !important;
	margin-right: auto !important;
	width: 80%;

	font-family: "Georgia", serif !important;
	font-size: 16px;
	font-size: 1rem;
	line-height: 24px;
	line-height: 1.5rem;
}

body.release sup, body.release sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	_vertical-align: bottom;
	position: relative;
}

body.release sup {
	bottom: 1ex;
}

body.release sub {
	top: .5ex;
}

@media screen and (min-width: 32em) and (max-width: 50em) {
	body.release {
		width: 480px;
		width: 30rem;
		font-size: 12px;
		font-size: .75rem;
		line-height: 16px;
		line-height: 1.333333rem;
	}
}

/* Full size on normal screen */
@media screen and (min-width: 50em) {
	body.release {
		margin: 54px auto 27px;
		margin: 3rem auto 1.6875rem;
		width: 720px;
		width: 45rem;
		font-size: 16px;
		font-size: 1rem !important;
	}

	body.release > * {
		font-family: "Georgia", serif !important;
		font-size: 18px;
		font-size: 1.125rem;
		line-height: 27px;
		line-height: 1.6875rem;
	}
	
	body.release > a {
		font-size: 16px;
		font-size: 1rem !important;
	}
	
	body.release > h1.title {
		font-size: 24px;
		font-size: 1.5rem !important;
	}
	
	body.release > h2.subtitle {
		font-size: 20px;
		font-size: 1.25rem !important;
	}
	
	body.release > p:not(.disclaimer) {
		font-size: 18px;
		font-size: 1.125rem !important;
	}

	body.release > p.disclaimer {
		font-size: 12px;
		font-size: .75rem !important;
	}
}